beautifulsoup4==4.12.3
fastapi==0.115.4
uvicorn[standard]==0.32.0
requests==2.32.3
google-api-python-client==2.151.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
gspread==6.1.4
playwright==1.48.0
brotli==1.1.0 # necessary inside the docker container to decode the response data from ishtari, the playwright image doesn't have it by default
